body {
    margin: 0px;
    background: black;
    overflow: hidden;
    text-align: center;
}
#instructions {
    font-family: "Press Start 2P", cursive;
    padding: 10px;
    color: white;
    position: absolute;
    background: black;
    opacity: 0.8;
    border-radius: 15px;
    width: 50%;
    height: auto;
    text-align: center;
}
#iframe {
    margin: auto;
}
